@tailwind base;
@tailwind components;
@tailwind utilities;

.furniture_ad_card{
  transition: 0.3s;
}
.furniture_ad_card img{
  transition: 0.3s;
}
.furniture_ad_card:hover{
  box-shadow: 10px 10px 10px #00000055;
}
.furniture_ad_card:hover img{
  transform: scale(1.1);
}
.gallery{ 
  display: grid;
  gap: 30px;
  grid-template-areas: "i1 i1 i2 i2 i2 i2 i2 i3 i3 i3 i3 i3"
  "i4 i4 i4 i4 i4 i5 i5 i5 i5 i5 i6 i6"
  "i7 i7 i8 i8 i8 i8 i8 i9 i9 i9 i9 i9"
  "i10 i10 i10 i10 i10 i11 i11 i11 i11 i11 i12 i12";
}
.gallery img{
  height: 300px;
  transition: 0.3s transform;
}
.gallery img:hover{
  transform: scale(1.16);
}

.i1{
  grid-area: i1;
  width: 100%;
}
.i2{
  grid-area: i2;
  width: 100%;
}
.i3{
  grid-area: i3;
  width: 100%;
}
.i4{
  grid-area: i4;
  width: 100%;
}
.i5{
  grid-area: i5;
  width: 100%;
}
.i6{
  grid-area: i6;
  width: 100%;
}
.i7{
  grid-area: i7;
  width: 100%;
}
.i8{
  grid-area: i8;
  width: 100%;
}
.i9{
  grid-area: i9;
  width: 100%;
}
.i10{
  grid-area: i10;
  width: 100%;
}
.i11{
  grid-area: i11;
  width: 100%;
}
.i12{
  grid-area: i12;
  width: 100%;
}